.github
.idea
# .git
.vscode
.db_data
.env
.env.agent-eliza
.pnpm-store
node_modules
dist
redis
data
test
db
# src/eliza/packages/plugin-solana/node_modules
# src/eliza/packages/plugin-solana/dist

# Ignore node_modules and dist directories under src
src/**/node_modules
src/**/dist
