SERVER_PORT=8080
AGENT_SERVER_PORT=3000
# Database to store AI-NFT and agent metadata
MONGODB_URL=mongodb://localhost:27017/?directConnection=true&serverSelectionTimeoutMS=2000
# NFT data provider
# apply for API key at https://developer.nftgo.io/developers
NFTGO_API_KEY=
NFTGO_ENDPOINT=https://data-api.nftgo.io
# AI Collections to track and run agents. Provide your solana nft collection IDs from NFTGO, separated by commas
# This is an example collection ID, replace with your own
NFTGO_SOLANA_AI_COLLECTIONS="a94cdc54c55334042014b3c2f300f68d"
# DEX data provider
# apply for API key at https://docs.birdeye.so/
BIRDEYE_API_KEY=
BIRDEYE_ENDPOINT=https://public-api.birdeye.so
# Solana Configuration
SOLANA_RPC_URL=

# TEE Configuration
# TEE_MODE options:
# - LOCAL: Uses simulator at localhost:8090 (for local development)
# - DOCKER: Uses simulator at host.docker.internal:8090 (for docker development)
# - PRODUCTION: No simulator, uses production endpoints
TEE_MODE=

# This will replace the model provider in agent character
AGENT_MODEL_PROVIDER="openai"
OPENAI_API_KEY=                 # OpenAI API key, starting with sk-
OPENAI_API_URL=                 # OpenAI API Endpoint (optional), Default: https://api.openai.com/v1
SMALL_OPENAI_MODEL=gpt-4o-mini  # Default: gpt-4o-mini
MEDIUM_OPENAI_MODEL="gpt-4o-mini" # Default: gpt-4o-mini
LARGE_OPENAI_MODEL="gpt-4o-mini" # Default: gpt-4o-mini